body{
    background-color: black;
}
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}
.bigContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.jam{
    height: 200px;
    width: 150px;
    border:2px white solid;
    margin-top: 70px;
}
.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}
.header{
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-top: 70px;
}
h1 {
    color: orangered;
    font-family: 'Satisfy', cursive;
    font-size: 40px;
}
.search{
    display:flex;
}
.input{
    flex:1;
    font-family: 'Satisfy', cursive;
    padding: 5px;
}
a, h4, h3, .newLink, .white{
    color: orangered;
    font-family: 'Satisfy', cursive;
    font-size:25px;
}
p, .textRecipe{
    color: white;
    font-family: 'Satisfy', cursive;
    font-size:20px;
}
.container, .newEl{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
.picture, .Newpicture{
    width: 700px;
    padding: 25px;
}
.one{
    flex-direction: row-reverse;
}
.choice, .selectStyle{
    background-color: black;
    color: rgb(228, 99, 52);
    font-family: 'Satisfy', cursive;
    font-size:20px;
}
.next,.back, .nextOne, .backOne, .backTwo, .nextTwo, .backThree, .nextThree, .backFour, .nextFour{
    background-color: black;
    border: 1px white solid;
    color: orangered;
    font-family: 'Satisfy', cursive;
    writing-mode: vertical-lr;
}
.img, .imgOne, .imgTwo, .imgThree, .imgFour, .imgFive{
    border: 1px white solid;
}
.imgFive{
    width: 400px;
    height: 500px;
}

@media all and (max-width:1050px){
    .headpicture{
        width: 1050px;
        height: 800px;
    }
    .header{
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    .first{
        display: flex;
        justify-content: flex-start;
    }
    h1{
        font-size: 60px;
    }
    p, .textRecipe{
        font-size: 35px;
    }
    .search{
        justify-content: center;
    }
    .input{
        width: 800px;
        padding: 6px;
        flex: none;
    }
    .container{
        flex-direction: column;
        align-items: center;
    }
    .picture, .Newpicture{
        width: 1000px;
        padding: 15px;
    }
    .choice, .selectStyle{
        width:200px;
        font-size: 40px;
    }
    .img, .imgOne, .imgTwo, .imgThree, .imgFour, .imgFive{
        width: 600px;
        height: 600px;
    }
    a, .newLink, .white{
        font-size:50px;
    }
    .next,.back, .nextOne, .backOne, .backTwo, .nextTwo, .backThree, .nextThree, .backFour, .nextFour{
        width: 600px;
        font-size:30px;
    }
    .newEl {
        flex-direction: column-reverse;
        align-items: center;
    }
}
@media all and (max-width:920px){
    .headpicture{
        width: 850px;
        height: 600px;
    }
    .header{
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    .first{
        display: flex;
        justify-content: flex-start;
    }
    h1{
        font-size: 30px;
    }
    p, .textRecipe{
        font-size: 30px;
    }
    .search{
        justify-content: center;
    }
    .input{
        width: 500px;
        padding: 3px;
        flex: none;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
    .picture, .Newpicture{
        width: 600px;
        padding: 15px;
    }
    .choice, .selectStyle{
        width:200px;
        font-size: 28px;
    }
    .img, .imgOne, .imgTwo, .imgThree, .imgFour, .imgFive{
        width: 600px;
        height: 600px;
    }
    a,.newLink, .white{
        font-size:35px;
    }
    .next,.back, .nextOne, .backOne, .backTwo, .nextTwo, .backThree, .nextThree, .backFour, .nextFour{
        width: 600px;
    }
}
@media all and (max-width:600px){
    .headpicture{
        width: 580px;
        height: 400px;
    }
    .header{
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    h1{
        font-size: 40px;
    }
    .first{
        display: flex;
        justify-content: flex-start;
    }
    p, .textRecipe{
        font-size: 15px;
    }
    .search{
        justify-content: center;
    }
    .input{
        padding: 3px;
        flex: none;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
    .picture, .Newpicture{
        width: 550px;
        padding: 15px;
    }
    .choice, .selectStyle{
        width:100px;
    }
    .img, .imgOne, .imgTwo, .imgThree, .imgFour, .imgFive{
        width: 250px;
        height: 300px;
    }
    a, .newLink, .white{
        font-size:20px;
    }
    .next,.back, .nextOne, .backOne, .backTwo, .nextTwo, .backThree, .nextThree, .backFour, .nextFour{
        width: 250px;
    }
}
@media all and (max-width:500px){
    .headpicture{
        width: 400px;
        height: 200px;
    }
    .header{
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    .first{
        display: flex;
        justify-content: flex-start;
    }
    h1{
        font-size: 25px;
    }
    p, .textRecipe{
        font-size: 20px;
    }
    .search{
        justify-content: center;
    }
    .input{
        padding: 3px;
        flex: none;
        width:350px;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
    .picture, .Newpicture{
        width: 300px;
        padding: 15px;
    }
    .choice, .selectStyle{
        width:100px;
    }
    .img, .imgOne, .imgTwo, .imgThree, .imgFour, .imgFive{
        width: 250px;
        height: 300px;
    }
    a, .newLink, .white{
        font-size:20px;
    }
    .next,.back, .nextOne, .backOne, .backTwo, .nextTwo, .backThree, .nextThree, .backFour, .nextFour{
        width: 250px;
    }
}

@media all and (max-width:400px){
    .headpicture{
        width: 400px;
        height: 200px;
    }
    .header{
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    .first{
        display: flex;
        justify-content: flex-start;
    }
    h1{
        font-size: 25px;
    }
    p, .textRecipe{
        font-size: 20px;
    }
    .search{
        justify-content: center;
    }
    .input{
        padding: 3px;
        flex: none;
        width:300px;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
    .picture, .Newpicture{
        width: 300px;
        padding: 15px;
    }
    .choice, .selectStyle{
        width:100px;
    }
    .img, .imgOne, .imgTwo, .imgThree, .imgFour{
        width: 250px;
        height: 300px;
    }
    a, .newLink, .white{
        font-size:20px;
    }
    .next,.back, .nextOne, .backOne, .backTwo, .nextTwo, .backThree, .nextThree, .backFour, .nextFour{
        width: 250px;
    }
}